
body{
   background-color:whitesmoke;
   margin:10px;
   font-family:Arial;
   color:#404040;
}

header{
    display: flex;
    justify-content: space-between;
}

#personal-logo{
    height:150px;
    width:150px;
    margin-left:10rem;
    border-radius:1px;
   
}

nav{
    position:fixed;
    top:0;
    right:0;
}

nav, 
.navigation{
    display:flex;
    font-weight: bold;
    color:#102E44;
}

.navigation:hover{
    color:red;
    cursor:pointer;
}

:root {
    --characters: 25;
  }
  
  .name-animation{
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    font-family: monospace;
    overflow: hidden;
  }
  
  .typewriter {
    color:#102E44;
    width: 0;
    padding: 10px 0;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    animation-name: blinking, typing;
    animation-duration: 0.5s, 5s;
    animation-timing-function: linear, steps(var(--characters));
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  
  @keyframes blinking {
    from {
      border-right: 0 solid transparent;
    }
  }
  
  @keyframes typing {
    80%, 100% {
      width: calc(var(--characters) * 0.5ch);
    }
  }

main{
    margin:0 4rem;
}

h2{
    margin:2rem;
}

.intro{
    display:flex;
    align-items: center;
}

.personal-intro{
    margin:6rem;
    font-size:1.5rem;
    line-height: 1.5;
 
}

#hire-button{
    color: white;
    text-decoration: none;
}

h1{
    margin-bottom:2rem;
    font-size:2.5rem;
    text-shadow: 0px 1px 1px #4d4d4d;
}

#hire-me{
    margin-top:3rem;
    width:6rem;
    align-items: center;
    justify-content: space-between;
    padding:.8rem;
    background-color:#102E44;
    border-radius:10px;
    color:white;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    transition-duration: 0.6s;
    cursor:pointer;
}

#hire-me:hover{
    color:black;
    background-color: #ff3333;
    transition-duration: 0.6s;
}

#hire-me:active{
    color:black;
    background-color: #ff3333;
    transform: scale(0.9);
    transition-duration: 0.4s;
}

#profile-pic{
    width:20rem;
    margin:4rem;
    border-radius:10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.about-me,
.top-ten{
    margin:6rem;
}

p{
    font-size:1.2rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color:blue;
}

.skills{
    margin:6rem;
}

img{
    width:5rem;
    margin:0.8rem;
    border-radius: 10px;;
}

.projects{
    margin:6rem;
}


li{
    line-height: 3rem;
}

.contact-me{
    margin:6rem;
}

#contacts-logo{
    width:30rem;
}

ul{
    list-style-type: square;
    margin:1rem 5rem;
    font-size:1.5rem;

}

ol{
    list-style-type: decimal;
    margin:1rem 5rem;
    font-size: 1.5rem;
  }
  

.contacts-logo{
  width: 6rem;
  
}

footer{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    align-items: ;
    height: 300px;
    background-color: #96B0C8;
    margin: 0 -20px -20px -20px;
}